@font-face {
  font-family: 'FinkHeavy';
  src: url('./font/FinkHeavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FinkHeavy';
}

body.fontLoaded {
  font-family: 'FinkHeavy';
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: FinkHeavy;
  src: url(./font/FinkHeavy.ttf);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @font-face {
  font-family: FinkHeavy;
  src: url('./font/FinkHeavy.ttf');
} */

html {
  background-color: #6cc4d3;
  /* background-image: url('./images/G79YngbW86RJ2QtzFfZEu3.jpg'); */
}

h2 {
  text-align: center;
  margin: 20px 70px;
  /* background-image: url('./images/animal-crossing-leaf-5442035_960_720.png'); */
}

h3 {
  color: white;
  font-family: 'FinkHeavy';
  src: url('./font/FinkHeavy.ttf');
  padding: 7.5px 0px 7.5px 10px;
  border: 2px;
  border-color: #49bf78;
  border-style: solid;
  margin-bottom: 0px;
}

.col img {
  margin: 0px 0px 0px 0px;
}

.row {
  max-width: 1fr;
}

.col-sm {
  /* background-image: url('./images/NSwitch_AnimalCrossingNewHorizons_bg_leaves_green.jpg'); */
  /* background-color: #C4C4C4; */
  padding: 35px 35px;
  width: 400px;
  height: 204px;
  flex: 0;
  border: 2px;
  border-color: white;
  border-style: solid;
}

.item.col-sm {
  background-image: url('./images/NSwitch_AnimalCrossingNewHorizons_bg_leaves_green.jpg');
}

.scrollbutton.col-sm {
  max-width: 20px;
  background-color: #a3885f;
  padding: 35px 33px;
  height: 204px;
  flex: 0;
  border: 2px;
  border-color: #997d54;
  border-style: solid;
}

/* .scroll.btn.btn-primary {
  background-color: #DABE9C;
  height: inherit;
  position: fixed;
  top: 0;
} */

path {
  color: white;
}

.svg-inline--fa.fa-arrow-right.fa-w-14 {
  width: 30px;
  height: 30px;
  /* background-color: black; */
  margin: 52.5px 10px 50px -12.5px;
}

.bestsell {
  padding-left: 287.5px;
  background-color: #3eb36d;
}

.onsale {
  padding-left: 287.5px;
  background-color: #3eb36d;
}

.new {
  padding-left: 287.5px;
  background-color: #3eb36d;
}

.sidenav {
  color: #FBFEB2;
  height: 100%;  
  width: 20%;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color: #997d54; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  font-family: 'FinkHeavy';
  src: url('./font/FinkHeavy.ttf');
  border: 2px;
  border-color: #a3885f;
  border-style: solid;
}

.sidebar {
  background-color: #997d54;
  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  border: 2px;
  border-color: #a3885f;
  border-style: solid;
}

.footer {
  background-color: #3eb36d;
  height: 6.3%;
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  border-color: #49bf78;
  border-style: solid;
  margin-bottom: 0px;
}

a.btn.btn-primary {
  color: white;
  background-color: #a3885f;
  border-color: #a3885f;
  margin: 10px;
  padding: 10px 70px;
}

a.btn.btn-primary.items {
  color: white;
  background-color: #a3885f;
  border-color: #a3885f;
  margin: 10px;
  padding: 10px 62.335px 10px 62.335px;
  /* width: 184.67px; */
}

.cart-btn {
  /* background-color: black; */
  position: fixed;
  bottom: 0;
  padding: 10px 10px 30px 10px;
}

.svg-inline--fa.fa-shopping-cart.fa-w-18 {
  width: 30px;
  height: 30px;
}

form {
  height: 650px;
  background-color: #997d54;
}

.col-md-7.offset-md-3 {
  margin-left: 28.5%;
  position: absolute;
  top: 5;
  background-color: #49bf78;
}

row.mt-4 {
  margin-top: 0;
}

.card.card-body {
  background-color: #997d54;
}

.form-control {
  border-color: #a3885f;
}

.py-2 {
  color: #FBFEB2;
}

label {
  color: #FBFEB2;
}

.btn.btn-primary.float-right {
  color: #3eb36d;
  font-weight: bolder;
  /* text-shadow: 2px 1px 1px black; */
  background-color: #FBFEB2;
  border-color: #3eb36d;
  float: right;
  margin-top: 20px;
}

div.backdrop {
  z-index: -2;
  width: 100%;
  height: 800px;
  background-color: #49bf78;
  position: absolute;
  top: 0;
}

.donthave {
  color: #FBFEB2;
  margin-top: 25px;
}

.donthavea {
  color: #3eb36d;
}

.logo {
  color: #FBFEB2;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.cart {
  height: 650px;
  background-color: #997d54;
  margin-left: 28.5%;
  position: absolute;
  top: 5;
  background-color: #49bf78;
}

.text-center.pt-4 {
  margin-left: 14%;
  background-color: #6cc4d3;
  border-style: solid;
  border-bottom-width: 5px;
  border-color: #6cc4d3;
}

.text-center.pt-4 h1 {
  color: #FBFEB2;
}

.text-center.pt-4 p {
  color: white;
  border-style: solid;
  border-bottom-width: 5px;
  border-color: #6cc4d3;
  /* background-color: #a3885f ; */
}

.profilepic img {
  width: 10%;
  height: 10%;
  border-style: solid;
  border-color: #997d54;
}